:root {
    font-size: clamp(0.7rem, 1rem, 4rem);
    font-family: 'Roboto', sans-serif;
}

body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main-container {
    width: clamp(90%, 80%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-btn {
    margin: 1rem 0 1rem auto;
    padding: 0;
}

.svg-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.svg-btn img {
    width: 1.5rem;
    height: 1.5rem;
}

.red-filter {
    filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(800%) contrast(2);
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(800%) contrast(2);
}

.green-filter {
    filter: invert(60%) grayscale(0%) brightness(40%) sepia(100%) hue-rotate(90deg) saturate(800%) contrast(2);
    -webkit-filter: invert(60%) grayscale(0%) brightness(40%) sepia(100%) hue-rotate(90deg) saturate(800%) contrast(2);
}

.blue-filter {
    filter: invert(60%) grayscale(0%) brightness(40%) sepia(100%) hue-rotate(180deg) saturate(400%) contrast(2);
    -webkit-filter: invert(60%) grayscale(0%) brightness(40%) sepia(100%) hue-rotate(180deg) saturate(400%) contrast(2);
}

/* Modal styles */
#modal {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    height: 40%;
    min-height: 20rem;
    min-width: 20rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.modal-close-btn {
    margin-right: 1rem;
}

.modal-header {
    position: absolute;
    font-size: 2rem;
    background-color: #008b70;
    top: 0;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.modal-header p {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
}

.modal-body {
    position: relative;
    margin-top: 5rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.modal-button-wrapper {
    display: flex;
    justify-content: center;
}

.modal-button-wrapper button {
    margin: 1.5rem;
}

.modal-button-wrapper button img {
    height: 3rem;
    width: 3rem;
}

/* Modal animation */

.slide-in {
    top: 20% !important;
    opacity: 1 !important;
    width: 100%;
}

/* Table styles */

#table {
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
}

thead {
    top: 0;
    position: sticky;
    z-index: 1;
}

thead tr {
    background-color: #009879;
    color: #ffffff;
}

td,
th {
    padding: 6px;
    word-wrap: break-word;
    text-align: left;
}

tbody tr {
    border-bottom: thin solid #009879;
}

tbody tr:hover {
    background-color: #00987a18;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* Misc */

button {
    font-size: 1rem;
    margin: .25rem;
}

/* Form fields */

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    margin-bottom: 2rem;
    height: 3rem;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;

    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;

}

.error-message {
    color: rgb(150, 0, 0);
    font-size: 0.7rem;
    justify-self: flex-end;
    margin-top: auto;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/* Mobile layout */
@media only screen and (max-width: 850px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        position: relative;
        padding-left: 50%;
        min-height: 1rem;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /* Label the data */
    td:nth-of-type(1):before {
        content: "ID";
    }

    td:nth-of-type(2):before {
        content: "Name";
    }

    td:nth-of-type(3):before {
        content: "Number";
    }

    td:nth-of-type(4):before {
        content: "Country";
    }

    td:nth-of-type(5):before {
        content: "City";
    }

    td:nth-of-type(6):before {
        content: "Company";
    }

    td:nth-of-type(7):before {
        content: "Actions";
    }

    button {
        margin: 0 .25rem 0 0;
    }
}